* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #dddddd;
  overflow-y: auto;

}

.container{
  width: 80vw;
  align-items: center;
  align-content: center;
  margin: auto;
  min-height: 50.3vh;
}

.styled-table {
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table td{
  overflow: visible

}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table .editIcon, .styled-table .deleteIcon, .styled-table .saveIcon {
  font-size: 20px;
  margin: auto;
}
.styled-table .editIcon:hover, .styled-table .saveIcon:hover {
  font-weight: bold;
  color: #009879;
  cursor: pointer;
}
.styled-table .deleteIcon:hover {
  font-weight: bold;
  color: red;
  cursor: pointer;
}
.styled-table .deleteIcon:active, .styled-table .editIcon:active, .styled-table .saveIcon:active {
  transform: scale(0.98);
}
.styled-table input:disabled {
  border: none;
  background-color: inherit;
  color: black;
}
.styled-table input {
  padding : 5%;
  padding-left: 8%;
  overflow: auto;
  border-style: none;
  outline: 0;
  border-radius: 5em;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 20px;
  background-color: rgb(54, 54, 54);
  color: #ffffff;
  padding: 10px;
}

.btn{
  display: inline-block;
  border: none;
  color: white;
  padding: 10px 20px;
  font-family: inherit;
  font-size: 16px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  background: #000;
  color: #fff;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}
.btn-block{
  display: inline-block;
  width: 95%;
}

.footer{
  width: 100%;
  background-color: rgb(54, 54, 54);
  box-sizing: border-box;
  margin: auto;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  position: relative;
  bottom: -150px;
}
.footer div{
  width: 30%;
  margin: auto;
}
.footer a{
  color: white;
  text-decoration: none;
}
.footer p{
  margin-bottom: 8px;
}

@keyframes slide-down {
  0% {
   max-height: 0%;
   opacity: 0;
  }
  100% {
   max-height: 100%;
   opacity: 1;
  }
 }

.add-form{
  width: 42%;
  margin: auto;
  margin-bottom: 30px;
  background-color: #ffffff;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  animation-duration: 1s;
  animation-name: slide-down;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.add-form label{
  display: block;
  box-sizing: border-box;
  text-align: start;
  margin-left: 15px;

}
.form-control{
  margin: 10px 0px;
  text-align: center;
  box-sizing: border-box;
}
.add-form input{
  width: 95%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 16px;
  box-sizing: border-box;
}

.about{
  min-height: 50.3vh;
}
.about li{
  list-style: none;
  font-size: 17px;
  line-height: 30px;
  border-bottom: 1px solid black;
  padding: 2px 5px;
}
.about ul{
  margin: 20px 0px;
  padding: 5px;
}

.back-arrow-icon{
  color: white;
  margin-right: 5px;
}


